#mainWindow {
    -fx-background-color: blue;
}

.text-area {
    -fx-background-color: blue;
    -fx-border-color: transparent;
    -fx-border-width: 10px;
}

.label {
    -fx-background-color: white;
    -fx-padding: 5px;
    -fx-font: bold 18pt serif;
}