#mainPane {
    -fx-background-color: lightblue;
}

#connectionIndicatorLabel {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

#fileList {
    -fx-pref-width: 200px;
    -fx-pref-height: 300px;
}