#buttonBar {
    -fx-alignment: center;
    -fx-padding: 10px 0px;
    -fx-border-color: red;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

#mainBox {
    -fx-background-color: darkgreen;
}

#gameMessageLabel {
    -fx-padding: 0px 20px 5px;
}

#playerPotLabel {
    -fx-padding: 15px 20px 0;
}
